.avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.avatar-img-container img {
  border-radius: 50%;
}

.avatar-info-container {
  margin: auto;
  font-size: xx-large;
}

.profile-container {
  border: 1px solid var(--purple-border-color);
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
}
