.landing-page-body-grid {
  z-index: 100;
  font-size: 0.85rem;
  position: relative;
  top: 8rem;
  display: grid;
  /* grid-template-rows: repeat(6, 1fr); */
  grid-template-columns: 1fr 5%;
  grid-template-areas:
    " classroom-image . "
    " mission-statement . "
    " stem-image-row . "
    " summary-statement-row . "
    " multi-line-lessons . "
    " footer .";
  color: var(--main-text-color);
}

.mission-statement-text {
  background: #f5f9fd;
  grid-area: mission-statement;
  padding: 1rem;
}

.classroom-image {
  background: #f5f9fd;
  grid-area: classroom-image;
  width: 100%;
}
/* .mission-statement-row {
  grid-area: mission-statement;
  border: 2px solid #cce2f3;
} */

.stem-image-row {
  grid-area: stem-image-row;
  text-align: center;
}

.stem-image {
  width: 100%;
}

.summary-statement-row {
  grid-area: summary-statement-row;
  padding: 1rem;
}

/* LESSONS INNER GRID */
.lesson-text {
  padding: 0.5rem;
  color: var(--main-text-color);
}

.jobviz-iframe-container {
  text-align: center;
  padding: 1rem;
}

.jobviz-description-container {
  width: 100%;
  padding: 1rem;
}

.job-viz-db-container {
  justify-content: center;
  background: #f5f9fd;
  border: 2px solid #cce2f3;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.job-viz-db-img {
  height: 614px;
  width: 553px;
}

.gp-signup-container {
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 850px) {
  /* For desktop: */
  .landing-page-body-grid {
    top: 18rem;
    grid-template-columns: repeat(2, 1fr) 5%;
    grid-template-areas:
      "classroom-image mission-statement . "
      "stem-image-row stem-image-row . "
      "summary-statement-row summary-statement-row . "
      "multi-line-lessons multi-line-lessons . "
      "footer footer . ";
  }
}
