.main-layout-grid-container {
  display: grid;
  grid-gap: 1rem;
  min-width: 500px;
  grid-template-columns: 0 1fr 5%;
  color: var(--main-text-color);
  font-size: 0.85rem;
  grid-template-areas:
    ". header ."
    ". main-content ."
    "footer footer footer";
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main-content;
}

.footer {
  grid-area: footer;
  font-size: 1.25rem;
  color: white;
  background: black;
}

/* HEADER INNER GRID */
.navbar-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.header-logo-container {
  text-align: center;
}
.header-logo {
  width: 40%;
}

.navbar-logo {
  width: 20%;
  height: 20%;
  min-width: 2rem;
  min-height: 2rem;
  /* margin: auto; */
}

.header-nav-button {
  background: #fff;
  font-size: 0.5rem;
  color: var(--main-text-color);
  cursor: pointer;
  border: none;
  outline: none;
  height: 100%;
}

.header-nav-button:hover {
  text-decoration: underline;
}

.navbar-logo_container {
  display: flex;
}
.header-nav-button {
  font-size: 0.5rem;
}

@media (min-width: 400px) {
  .header-nav-button {
    font-size: 0.6rem;
  }
}

@media (min-width: 600px) {
  .main-layout-grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 5% 1fr 5%;
    grid-template-areas:
      ". header ."
      ". main-content ."
      "footer footer footer";
  }
}

@media only screen and (min-width: 870px) {
  /* For desktop: */
  .header-nav-button {
    font-size: 1.05rem;
  }
  .header-logo {
    width: 30%;
  }
}
