.main-layout-grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 0 1fr 5%;
  color: var(--main-text-color);
  font-size: 0.85rem;
  grid-template-areas:
    ". header ."
    ". main-content ."
    "footer footer footer";
}

.header {
  grid-area: header;
}

.main-content {
  margin: 0 0.5rem;
  grid-area: main-content;
}

.general-page-body-grid {
  z-index: 100;
  font-size: 0.85rem;
  display: grid;
  color: var(--main-text-color);
  grid-template-columns: 1fr;
  grid-template-areas: "general-page-main-content";
}

.general-page-main-content {
  grid-area: general-page-main-content;
}

.general-page-body-grid .nested-multiline-grid {
  grid-row: 2;
  grid-column: 1;
}

.footer {
  grid-area: footer;
  font-size: 1.25rem;
  color: var(--gp-sparkle-white);
  background: var(--gp-galactic-black);
}

.header-logo-container {
  text-align: center;
}

.header-logo {
  width: 40%;
}

.header-nav-button {
  background-color: transparent;
  font-size: 0.4rem;
  color: var(--main-text-color);
  cursor: pointer;
  border: none;
  outline: none;
  height: 100%;
}

.header-nav-button:hover {
  text-decoration: underline;
}

@media (min-width: 400px) {
  .header-nav-button {
    font-size: 0.6rem;
  }
}

@media (min-width: 600px) {
  .main-layout-grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 5% 1fr 5%;
    grid-template-areas:
      ". header ."
      ". main-content ."
      "footer footer footer";
  }
}

@media only screen and (min-width: 850px) {
  .general-page-body-grid {
    grid-template-columns: 16% 1fr 16%;
    grid-template-areas: ". general-page-main-content .";
  }
}

@media only screen and (min-width: 870px) {
  /* For desktop: */
  .header-nav-button {
    font-size: 0.75rem;
  }
  .header-logo {
    width: 30%;
  }
}
